<div class="m-auto mt-8" style="max-width: 360px">
    <h2 class="text-2xl text-center font-avenir-next-bold">
      <%= t(".title") %>
    </h2>

  <p class="mt-8"><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="mt-6">
      <%= form.label :password, class: "block text-sm mb-1" %>
      <%= form.password_field :password, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Submit", class: "font-avenir-next-bold uppercase bg-navy text-white text-xs py-3 px-6 tracking-widest" %>
    </div>
  <% end %>
</div>
